.bg-orange-g{
    background: linear-gradient(to right,#ff6660,#de3a3a);
}
.bg-green-g
{
    background: linear-gradient(to bottom right,#52f81a 0%,#0fb254);
}
.bg-primary-g{
    background: linear-gradient(to bottom right,#0000ff 0%,#cc00cc 100%);
}
.bg-golden-g{
    background: linear-gradient(to bottom right,#cbcb04 0%,#e8a31a 100%);
}